@use "./variables.scss";


main {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .status-container {
        padding: 1rem;
        margin-top: 2rem;
        background-color: rgb(48, 48, 48);
        width: 80%;
        border-radius: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            margin-bottom: 3rem;
        }
        .linebox {
            height: 5rem;
            width: 90%;
            padding: 1rem 3rem;
            border-radius: 30px;
            cursor: pointer;
            background-color: rgb(33, 33, 33);
            margin: 0.3rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: transform 0.2s ease-out;
            &:hover {
                transform: scale(1.02);
            }
            span.linename {
                display: flex;
                align-items: center;
                height: 100%;
                img {
                    max-width: 80%;
                    max-height: 90%;
                    object-fit: contain;
                    margin-right: 1rem;
                    
                    
                }

            }
        }
    }
}