@import "./variables.scss";


main {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    .status-container {
        background-color: var(--color);
        width: 80%;
        border-radius: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}