@use "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



* {
    margin: 0;
    z-index: 1;
    padding: 0;
    box-sizing: border-box;
    color: white;
}


main.main {
    svg {
        z-index: 0;
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    min-width: 100vh;
    path {
        fill: var(--color);
        transition: fill 0.2s ease-in-out;
    }
    }
    position: relative;
    padding-top: 4rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161616;
    nav.navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #121212;

        img {
            margin-right: 1rem;
            width: 2rem;
        }

    }
}